<html>
<head>
  <title>Cryptofolio | Admin</title>
  <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/admin_page.js"></script>
  <%- include('include/_header') %>
</head>

<body>
<div class="header">
  <%- include('include/_nav') %>
  <div class="content">
    <div class="row">
        <div class="col-8">
            <div id="my_dataviz"></div>
            <script>
                var data = JSON.parse('<%-stats%>');
            </script>
            <script src="http://localhost:3000/js/barplot.js"></script>
        </div>
        <div class="col-4">
            <ul class="list-unstyled">
                <li class="m-2 d-flex justify-content-center">
                    <a href="admin/coord-manager" class="btn btn-light btn-lg active w-50" role="button" aria-pressed="true">Coord Manager</a>
                </li>
                <li class="m-2 d-flex justify-content-center">
                    <a href="admin/coin-manager" class="btn btn-light btn-lg active w-50" role="button" aria-pressed="true">Coin Manager</a>
                </li>
              </ul>
        </div>
        <h2 class="search-header"> Search Transactions by Coin </h2>
        <div class="search">
            <label for="coinId" class="text-dark w-25">Coin</label>
            <select class="w-50" onselect="search(this)" name="coinId" required>
                <% for(var i=0; i < coins.length; i++) { %>
                    <option value="<%= coins[i]._id %>"><%= coins[i].name %></option>
                <% } %>
            </select>
        </div>
    </div>
  </div>
</div>
</body>
</html>