<html>
<head>
  <title>Cryptofolio | Exhanges </title>
  <link rel="stylesheet" href="/css/contact.css">
  <%- include('include/_header') %>
</head>

<body>
<div class="header">
  <%- include('include/_nav') %>
  <div class="content">
    <form method="POST" action="/api/transactions">
      <input type="hidden" name="userEmail" value="<%=user.email %>">
      <input type="hidden" name="userEmail" value="<%=user.email %>">
      <input type="hidden" name="userEmail" value="<%=user.email %>">
      <input type="hidden" name="userEmail" value="<%=user.email %>">
      <button type="Create" class="btn btn-success create">Create</button>
  </form>
  </div>
</div>
</body>
</html>