<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="jumbotron">
                <h1>
                    <%= user.name %> Transactions Page
                </h1>
                <p>Latest Transactions</p>
            </div>
            <!-- body handling -->
            <form action="/" method="POST">

                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Coin</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i=0; i < transactions.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= transactions[i].coinId %>
                                    </td>
                                    <td>
                                        <%= transactions[i].amount %>
                                    </td>
                                    <td>
                                        <%= transactions[i].date %>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <a href="/add-transaction" class="border-shadow">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Add New Transaction</button>
                    </a>
            </form>
    </main>

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->