<html>
<head>
  <title>Cryptofolio | Transactions </title>
  <link rel="stylesheet" href="/css/coords.css">
  <script src="http://localhost:3000/js/transactions.js"></script>
  <%- include('include/_header') %>
</head>

<body>
<div class="header">
  <%- include('include/_nav') %>
   <!-- The Modal -->
 <div class="modal" id="createModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add New Transaction</h4>
        <button type="button" onClick="clean_modal(this)" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form method="POST" action="/api/transactions">
              <div class="modal-body">
                  <div class="form-group">
                      <input type="hidden" name="userEmail" value="<%=user.email %>">
                      <label for="coinId" class="text-dark w-25">Coin</label>
                      <%- include('include/_coinsDropdown') %>
                  </div>
                  <div class="form-group">
                      <label for="amount" class="text-dark w-25">Amount</label>
                      <input type="text" class="w-50" name="amount" placeholder="32.45454">
                  </div>
                  <div class="form-group">
                    <label for="date" class="text-dark w-25">Date</label>
                    <input type="datetime-local" class="w-50" name="date" placeholder="32.45454">
                </div>
              </div>
              <div class="modal-footer">
                <div class="form-group">
                    <button type="Create" class="btn btn-success create">Create</button>
                </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

 <!-- The Modal -->
 <div class="modal" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form method="POST" id="update_transaction">
            <div class="modal-body">
              <div class="form-group">
                  <input type="hidden" name="userEmail" value="<%=user.email %>">
                  <label for="coinId" class="text-dark w-25">Coin</label>
                  <%- include('include/_coinsDropdown') %>
              </div>
              <div class="form-group">
                  <label for="amount" class="text-dark w-25">Amount</label>
                  <input type="text" class="w-50" name="amount" placeholder="32.45454">
              </div>
              <div class="form-group">
                <label for="date" class="text-dark w-25">Date</label>
                <input type="datetime-local" class="w-50" name="date" placeholder="32.45454">
            </div>
          </div>
              <div class="modal-footer">
                <div class="form-group">
                    <button type="Update" class="btn btn-danger update">Save</button>
                </div>
            </div>
          </form>
      </div>

      <!-- Modal footer -->
    </div>
  </div>
</div>
  
  <div class="content">
    <!-- form handling -->
    <h2 class="slide-left"> Total Portifolio Worth: <%= totalPortifolioWorth.totalPortifolioWorth %> $ </h2>
    <div class="d-flex flex-row-reverse">
      <a class="btn border-shadow update btn-light p-2" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#createModal">
        <i class="bi bi-file-earmark-plus"></i>
      </a>
    </div>
    <form action="/" method="POST">
        <table class="table text-white">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Coin</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <%- include('include/_transactions') %>
          </tbody>
        </table>
      </form>
  </div>
</body>
</html>
