<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Cryptofolio </title>
  <link rel="stylesheet" href="/css/user_home.css">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
</head>

<body>
<div class="header">
  <nav>
    <div class="logo">
      <img src="/img/logo.png">
      <span>Cryptofolio</span>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/maps">Local Crypto Exchanges</a></li>
      <li><a href="/contact">Contact </a> </li>
      <% if(locals.isAdmin) { %>
        <li><a href="/admin">Admin Dashboard</a></li>
      <% } %>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>

  <div class="content">
    <div class="row">
      <div class="col-8">
        <h1 class="slide-left">Welcome back<br> &nbsp <%= user.name %> </h1>
        <br>
        <h2 class="slide-left"> Total Portifolio Worth: <%= totalPortifolioWorth.totalPortifolioWorth %> $ </h2>
        <br>
      </div>
      <div class="col-4">
        <div id="my_dataviz"></div>
        <script>
          var data = JSON.parse('<%-balance%>');
          var keys = JSON.parse('<%-keys%>');
        </script>
        <script src="http://localhost:3000/js/pie.js"></script>
      </div>
    </div>
    <!-- form handling -->
    <form action="/" method="POST">
      <table class="table text-white">
        <thead class="thead-light">
        <tr>
          <th>Coin</th>
          <th>Name</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <%- include('include/_assets') %>
        </tbody>
      </table>
    </form>
  </div>
</div>
</body>
</html>