<html>
<head>
  <title>Cryptofolio </title>
  <link rel="stylesheet" href="/css/user_home.css">
  <%- include('include/_header') %>
</head>

<body>
<div class="header">
  <%- include('include/_nav') %>
  <div class="content">
    <div class="row">
      <div class="col-8">
        <h1 class="slide-left">Welcome back<br> &nbsp <%= user.name %> </h1>
        <br>
        <h2 class="slide-left"> Total Portifolio Worth: <%= totalPortifolioWorth.totalPortifolioWorth %> $ </h2>
        <br>
      </div>
      <div class="col-4">
        <div id="my_dataviz"></div>
        <script>
          var data = JSON.parse('<%-balance%>');
          var keys = JSON.parse('<%-keys%>');
        </script>
        <script src="http://localhost:3000/js/pie.js"></script>
      </div>
    </div>
    <!-- form handling -->
    <form action="/" method="POST">
      <table class="table text-white">
        <thead class="thead-light">
        <tr>
          <th>Coin</th>
          <th>Name</th>
          <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <%- include('include/_assets') %>
        </tbody>
      </table>
    </form>
  </div>
</div>
</body>
</html>