<select class="w-50" onchange="search(this)" id="searchByCoin">
    <% if(locals.currentSelect == 'All Coins') { %>
        <option value="all" selected> <%= locals.currentSelect %> </option>
    <% } else { %>
            <option value="all"> All Coins %> </option>
        <% } %>
    <% for(var i=0; i < coins.length; i++) { %>
            <% if(locals.currentSelect == coins[i].name) { %>
                <option value="<%= coins[i]._id %>" selected> <%= coins[i].name %> </option>
            <% }
            else { %>
                    <option value="<%= coins[i]._id %>">  <%= coins[i].name %> </option>
                <% } %>
    <% } %>
</select>

<table class="table text-white">
    <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Coin</th>
      <th>Amount</th>
      <th>Date</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
<% for(var i=0; i < transactions.length; i++) { %>
    <tr>
        <td>
            <span><%= transactions[i]._id %></span>
        </td>
        <td>
            <img src="https://raw.githubusercontent.com/spothq/cryptocurrency-icons/master/32/color/<%= transactions[i].coin[0].icon %>.png"/>
            <%= transactions[i].coin[0].shortName %>
            <input type="hidden" value="<%= transactions[i].coin[0]._id %>">
        </td>
        <td>
            <span><%= transactions[i].amount %></span>
        </td>
        <td>
            <span>
                <%= new Date(transactions[i].date).toLocaleDateString() %>
                <%= new Date(transactions[i].date).toString().match("[0-9]+:[0-9]+")[0] %>
            </span>
        </td>
        <td>
            <span>
                <%= transactions[i].userEmail %>
            </span>
        </td>
    </tr>
    <% } %>
</tbody>
</table>