<% for(var i = 0; i < coins.length; i++) { %>
    <tr>
        <td><%= coins[i]._id %></td>
        <td>
            <img src="https://github.com/ErikThiart/cryptocurrency-icons/blob/master/icons/<%= coins[i].icon %>.png?raw=true"/>
            <%= coins[i].shortName %>
        </td>
        <td><%= coins[i].name %></td>
        <td>
            <a id="edit" onClick="edit_click(this)" class="btn border-shadow update btn-light" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#editModal">
                <i class="bi bi-pen"></i>
            </a>
            <a href="/admin/coin-manager/update-coin?id=<%= coins[i]._id%>" class="btn border-shadow update btn-light" role="button" aria-pressed="true">
                <i class="bi bi-trash3"></i>
            </a>
        </td>
    </tr>
    <% } %>